$oscuro: #42594A;
$primaryy: #AEF2D9;
$primaryy-light: #F2EFE9;
$background: #D9D1D0;

$primary: $primaryy;
$secondary: $oscuro;
$light: $primaryy-light;
// Import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';