
.mi-fixed-top{
    position: initial;
}
.animate-nav::after{
    content: '';
    display: block;
    width: 100%;
    margin-top: 2px;
    height: 5px;
    transition: background-color .3s;
}
.animate-nav:hover::after{
    animation: animate .3s;
    transform-origin: left;
    background-color: #f2f2f2;
}
@keyframes animate {
    from {
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.logo{
    display: none;
}
@media (min-width: 460px ) {
    .logo{
        display: block;
        height: 60px;
        width: 180px;
        object-fit: cover;
    }   
}
@media (min-width: 680px){
    .mi-fixed-top{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: max-content;
        z-index: 1000;
    }
}